.gradle/
build/
.idea/
*.iml
local.properties
.DS_Store
captures/
.externalNativeBuild/
.cxx/
iosApp/Pods/
iosApp/*.xcworkspace/xcuserdata/
iosApp/*.xcodeproj/xcuserdata/
iosApp/*.xcodeproj/project.xcworkspace/xcuserdata/
repomix-output.xml
.kotlin/metadata/
gradle/wrapper/gradle-wrapper.jar
