.gradle/8.13/gc.properties
.gradle/8.13/
.gradle/8.14.5/
.gradle/8.7/
.gradle/9.3.0/
.gradle/9.5.0/
.gradle/9.6.0/
.gradle/9.7.1/
.gradle/9.8.0-milestone-2/
.idea/
.kotlin/
app/build/intermediates/
app/build/kotlin/
app/build/outputs/
app/build/tmp/
build/reports/
gradle/wrapper/gradle-wrapper.jar
shared/build/
